<form action="/login" method="post">
  <input type="text" name="username" placeholder="Usuário" required />
  <input type="password" name="password" placeholder="Senha" required />
  <button type="submit">Entrar</button>
  <% if (error) { %><p><%= error %></p><% } %>
</form>
